.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container {
  /* width: 20em; */
  margin: 2em auto;
  height: 50em;
  width: 75em;
  border: 5px solid lightslategray;
  /* border: 5px solid blue; */
}

  p {
    font-family: sans-serif;
    color: white;
    font-size: 3em;
    font-weight: bold;
  }

  .bred {
    width: 45em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkred;
    background-color: red;
  }

  .borange {
    width: 30em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkorange;
    background-color: orange;
  }

  .byellow {
    width: 25em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid goldenrod;
    background-color: gold;
  }

  .bgreen {
    width: 30em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkgreen;
    background-color: green;
  }

  .bblue {
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkblue;
    background-color: blue;
  }

  .bviolet {
    width: 75em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
    background-color: darkviolet;
  }